*,
*::after,
*::before{
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    margin-left: auto;
    margin-right: auto;
}
.header, .content{
    width: 1020px;
    margin-left: auto;
    margin-right: auto;
}
a{
    color: #fff;
    list-style: none;
    text-decoration: none;
}