body{
    background-image: url("../img/background1.png");
    background-size: 100vw 100vh;
    background-position: center;
    background-attachment: fixed;
}
.header{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.logo{
    display: flex;
    position: relative;
}
.logo-link-orange{
    position: absolute;
    color: rgba(242, 101, 34, 1);
	 background-color: #000;
    opacity: 0;
}
.logo-img:hover{
    position: absolute;
    opacity: 0;
}
.logo:hover .logo-link-orange{
    position: absolute;
    left: 0;
    opacity: 1;
}

.logo-link{
    width: 53px;
    height: 47px;
    position: relative;
}

.logo-name{
    display: flex;
    flex-direction: column;
    padding-left: 8px;
    justify-content: space-between;
}

.top-name{
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    text-transform: capitalize;
}
.logo:hover .top-name{
    color: rgba(242, 101, 34, 1);
}
.bottom-name{
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-transform: capitalize;
}
.logo:hover .bottom-name{
    color: rgba(242, 101, 34, 1);
}
.header-contacts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.email:hover{
    color: rgba(242, 101, 34, 1);
}
.phone:hover{
    color: rgba(242, 101, 34, 1);
}

.content{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: 220px 220px;
    color: #fff;
    /*text-transform: capitalize;*/
    row-gap: 80px;
    column-gap: 60px;
    text-align: center;
    margin-top: 25px;
}

.content .pics{
    width: 300px;
    height: 220px;
}

.footer{
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    margin-top: 90px;
}
.activity-container{
    position: relative;
}
.activity-container:hover .activity-container-cta{
    visibility: visible;
}
.activity-container-cta-footer{
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
}
.activity-container-cta{
    position: absolute;
    bottom: 0;
    background-color: rgba(242, 101, 34, 1);
    width: 100%;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    padding: 7px 14px 12px 16px;
}
.block-img-links:hover .links-name {
    color: rgb(242, 101, 34);
}

.links > .activity-container, .links-name{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.links-name {
    padding-top: 20px;
    text-transform: capitalize;
}
.activity-container-cta > span{
    display: flex;
    justify-content: start;
    font-size: 10px;
    line-height: 10px;
}
.inside-activity-container-cta-footer {
    text-transform: capitalize;
}
.activity-container-cta-footer > span{
    display: flex;
    align-items: end;
}
.vector{
    width: 5px;
    height: 10px;
}

/*.parent:hover .child, .parent.hover .child { display: block; }*/